<p-card styleClass="event-card">
  <p-carousel [value]="getFilteredCarousel()"
              [numVisible]="1"
              [numScroll]="1"
              [circular]="true">
    <ng-template let-event pTemplate="item">
      <div class="event-item">
        <div class="info-row">
          <p class="f-700 card-text">{{event?.type}}</p>
          <div class="info-row-date normal-bold">
            <p class="card-text f-700">{{event?.startDate | date: "dd.MM.yyyy | h:mm" }} Uhr</p>
          </div>
        </div>
        <div class="text-container">
          <p class="card-text text-left event-title">{{event?.name}}</p>
        </div>
        <div class="btn-container">
          <a target="_parent" href="https://dev.codelords.de/agv-bs/event-detail/?event_id={{event.id}}"
             class="target-button rounded-button turqoise turqoise-hover">Zum Event</a>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</p-card>
