<p-card styleClass="event-card">
  <p-carousel [value]="getFilteredCarousel()"
              [numVisible]="1"
              [numScroll]="1"
              [circular]="true"
              (onPage)="changeImage($event)"
              id="carousel">
    <ng-template let-event pTemplate="item">
      <div class="event-item">
        <img src="{{getSrc()}}" class="bg-image">
        <div class="info-container">
          <div class="info-row">
            <p class="f-700 card-text white">{{event?.type}}</p>
            <div class="info-row-date normal-bold">
              <p class="card-text f-700">{{event?.startDate | date: "dd.MM.yyyy | HH:mm" }} Uhr</p>
            </div>
          </div>
          <div class="text-container">
            <p class="card-text text-left event-title white">{{event?.name.toUpperCase()}}</p>
          </div>
        </div>
        <div class="btn-container">
          <a target="_parent" href="https://dev.codelords.de/agv-bs/event-detail/?event_id={{event.id}}"
             class="carousel-redirect-btn">ZUM EVENT</a>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</p-card>
