:host ::ng-deep .event-card {
  max-width: 100%;
  background: #F7F7F7;
  border-radius: unset;
  opacity: 1;
  height: 100vh;
}
:host ::ng-deep .p-card .p-card-content {
  padding: 0;
  color: #333333;
  height: 100%;
}
:host ::ng-deep .p-card .p-card-body {
  height: 100%;
}
:host ::ng-deep .p-carousel .p-carousel-indicators {
  padding: 0;
  align-items: center;
}
:host::ng-deep.p-card .p-card-body {
  padding: 0 !important;
}
:host ::ng-deep .p-carousel-prev {
  align-self: center;
}
:host ::ng-deep .p-carousel-content {
  height: 100%;
  justify-content: space-between;
}
:host ::ng-deep .p-carousel {
  height: 100%;
}
:host ::ng-deep .p-carousel-container {
  height: 100%;
}
:host ::ng-deep .p-carousel-items-container {
  height: 100%;
}
:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev, :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  margin: 0 !important;
}
:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:enabled:hover, :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
  background: none;
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 25px;
  background: lightgray;
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #ffffff;
  width: 0.6rem;
  height: 0.6rem;
}
:host::ng-deep.p-carousel {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button:focus {
  box-shadow: none;
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button:hover {
  box-shadow: none;
}
:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:focus, :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next:focus {
  box-shadow: none;
}
.info-row {
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 0.8rem;
}
.event-title{
  font-weight: 500;
}
.event-item {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 2rem;
}
:host ::ng-deep .p-carousel .pi {
  font-size: 0.7rem;
  font-weight: bold;
}
.btn-container {
  display: flex;
  justify-content: start;
  padding: 3rem 0;
}
.target-button {
  position: absolute;
  bottom: 1.5rem;
}
.text-container p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-container {
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carousel-redirect-btn {
  border-radius: 25px;
  background: #98D1E2;
  border: 1px solid #98D1E2;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: "Fira Sans", "Fira Sans", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.carousel-redirect-btn:hover {
  background: #addae8;
  border-color: #addae8;
}
.text-container {
  line-height: 18px;
  font-family: "Fira Sans", "Fira Sans", sans-serif;
  font-weight: 500;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
:host::ng-deep.p-carousel .p-carousel-content .p-carousel-next {
  position: absolute;
  right: 0.5%;
}
:host::ng-deep.p-carousel .p-carousel-content .p-carousel-prev {
  position: absolute;
  z-index: 9999;
}
:host::ng-deep.p-carousel .p-carousel-indicators {
  z-index: 1000;
  position: absolute;
  bottom: 3%;
  left: 47%;
}
:host::ng-deep.p-carousel .pi {
  color: white;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}
@media only screen and (max-width: 480px) {
  :host ::ng-deep .p-card-header {
    padding: 12px;
  }
  :host ::ng-deep .p-card .p-card-body {
    padding: 30px 0 15px 0;
  }
  :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev, :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
    margin: -48px 0 0 !important;
  }
  .info-row {
    padding-bottom: 8px;
  }
  .btn-container {
    justify-content: left;
    padding: 30px 0;
  }
}
