<p-card styleClass="event-large-card"
        header="{{event?.type}}">
  <ng-template pTemplate="header">
    <div class="small-rectangle"
         [class.green]="event?.category === EventCategory.arbeitsrecht"
         [class.yellow]="event?.category === EventCategory.hr"
         [class.red]="event?.category === EventCategory.highlights"
         [class.blue]="event?.category === EventCategory.partnerevents">
      <p class="tag-text white">{{event?.category}}</p>
    </div>
  </ng-template>
  <div>
    <p>{{event?.name}}</p>
    <div class="info-row">
      <div class="info-row-date">
        <div class="flex center">
          <i class="pi pi-map-marker p-pr-1"></i>
          <p class="f-700">{{event?.zip}} {{event?.city}}</p>
          <p class="f-700" *ngIf="event?.city">, </p>
          <p class="f-700"> {{event?.place}}</p>
          <p class="f-700" *ngIf="event?.place">, </p>
          <p class="f-700"> {{event?.street}}</p>
        </div>
        <p class="f-700">{{getEventTime()}}</p>
      </div>
    </div>
    <p class="p-pt-4 description" [innerHTML]="event?.description"></p>
  </div>
  <p class="f-700 p-pt-3" *ngIf="eventPrice > 0">{{eventPrice}} €</p>
  <div class="p-pt-3 p-pb-3 text-left btn-container">
    <a target="_parent" href="https://www.agv-veranstaltungen.de/login.php?forward=true&e_event_guid={{event?.guid}}"
       class="target-button rounded-button turqoise turqoise-hover">BUCHEN</a>
  </div>
</p-card>
