.container {
  width: 44rem;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.styled-btn {
  color: black;
  background-color: #d0eaf2 !important;
  border-radius: unset !important;
  border-color: transparent;
  padding: 1rem 2rem;
}

.styled-btn:hover, .selectedCateg {
  color: white !important;
  background-color: #98d1e2 !important;
  border-radius: unset !important;
  border-color: transparent;
  box-shadow: unset;
}

.sliders-btn {
  color: black;
  background-color: white !important;
  border-radius: unset !important;
  border-color: transparent;
}

.sliders-btn:hover {
  color: white;
  background-color: black !important;
  border-radius: unset !important;
  border-color: transparent;
}

.sliders-btn:focus {
  color: white;
  background-color: black !important;
  border-radius: unset !important;
  border-color: transparent;
}

.types-div {
  margin-right: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.types-div:hover, .selectedTp {
  font-weight: bolder;
}

.types-div:focus {
  font-weight: bolder;
}

.paginator {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.categories-container {
  display: flex !important;
  justify-content: space-between !important;
}

.types-mobile-container {
  display: none !important;
}

.xfilter-btn{
  color: black;
  background-color: white;
  border-radius: unset;
  border-color: transparent;
}

.xfilter-btn:hover{
  color: red;
  background-color: white;
  border-radius: unset;
  border-color: transparent;
}

.xfilter-btn:focus{
  color: red;
  background-color: white;
  border-radius: unset;
  border-color: transparent;
}

.btn-container {
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 22rem!important;
  }

  .category-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .types-container {
    display: none !important;
  }

  .types-mobile-container {
    display: flex !important;
    margin-top: 0.5rem;
  }

  .categories-container {
    width: 100% !important;
  }
  .styled-btn {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 880px) {
  .container {
    width: 35rem;
  }

  .category-container {
    text-align: left;
  }

  .styled-btn {
    padding: 0.5rem;
  }
}
