:host ::ng-deep .event-detailed-card {
  width: 44rem;
  background: #f8f9fa;
  border-radius: unset;
  padding-left: 4.375rem;
  padding-right: 4.375rem;
  box-shadow: 10px 10px 10px #00000029;
}

:host ::ng-deep .p-card-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-transform: uppercase;
}

:host ::ng-deep .p-card .p-card-content {
  padding: unset;
}

:host ::ng-deep .p-card .p-card-body {
  padding: unset;
}

.info-row {
  display: flex;
  justify-content: space-between;
  color: black;
  border-bottom: 2px solid black;
}

.info-row-date {
  display: flex;
}

.content-list {
  width: 20rem;
  text-align: left;
}

.content-section {
  display: flex;
  justify-content: space-between;
}

.turqoise-hover:hover {
  background: #D0EAF2 0% 0% no-repeat padding-box;
}

.extra-information-row {
  display: flex;
  justify-content: space-evenly;
}
