<p-card styleClass="event-detailed-card"
        header="{{event?.type}}">
  <ng-template pTemplate="header">
    <div class="small-rectangle green">
      <p class="tag-text white">{{event?.category}}</p>
    </div>
  </ng-template>
  <div>
    <p>{{event?.name}}</p>
    <div class="info-row">
      <div class="info-row-date">
        <div class="flex center">
          <i class="pi pi-map-marker p-pr-1" *ngIf="showDetails"></i>
          <p class="f-700">{{event?.location}}</p>
        </div>
        <p class="f-700">{{event?.startDate | date: "dd.MM.yyyy | h:mm" }} Uhr</p>
      </div>
    </div>
    <p [class.display]="'mobile: true;'"
       class="p-pt-4" [class.description]="!showDetails">{{event?.description}}</p>
    <div *ngIf="showDetails" class="p-pt-3 p-pb-3 details-container" fxLayout="column" fxLayoutAlign="center center">
      <button pButton type="button" label="ZUM EVENT" class="rounded-button turqoise"></button>
    </div>
    <div class="p-pt-3 p-pb-3 text-center btn-container">
      <button pButton *ngIf="!this.showDetails"
              type="button"
              label="Mehr erfahren"
              class="rounded-button turqoise"
              (click)="showEventDetails()">
      </button>

        <button pButton *ngIf="this.showDetails"
                type="button"
                icon="pi pi-chevron-up" iconPos="left"
                class="rounded-button turqoise"
                (click)="showEventDetails()">
        </button>
    </div>
  </div>
</p-card>
