:host ::ng-deep .event-detailed-card {
  max-width: 44rem;
  background: #F7F7F7;
  border-radius: unset;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  box-shadow: 10px 10px 10px #00000029;
}

:host ::ng-deep .p-card-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-transform: uppercase;
}
:host ::ng-deep .p-card .p-card-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 1rem;
}
:host ::ng-deep .p-card .p-card-content {
  padding: unset;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 0 2rem;
}

.info-row {
  display: flex;
  justify-content: space-between;
  color: #333333;
  border-bottom: 2px solid #333333;
  padding: 2rem 0 0.5rem 0;
}

.info-row-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-list {
  width: 50%;
  text-align: left;
  padding: 2rem 0 3rem 0;
}

.content-section {
  display: flex;
  justify-content: space-between;
}

.extra-information-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
}
.tag-text {
  margin: 0;
}
:host ::ng-deep .p-card {
  color: #333333;
}

@media only screen and (max-width: 480px) {
  h4 {
    text-align: left;
  }
  .tag-text {
    font-size: 12px;
  }
  .small-rectangle {
    padding: 7px 27px;
  }
  :host ::ng-deep .p-card .p-card-title {
    margin-top: 18px;
    margin-bottom: 8px;
  }
  :host ::ng-deep .p-card .p-card-body {
    padding: 0;
  }
  .info-row {
    padding-top: 17px;
  }
  .info-row-date {
    flex-direction: column-reverse;
  }
  .display {
    display: none;
  }
  .content-list {
    padding: 10px 0 17px 0;
    width: 100%;
  }
  .content-section {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .extra-information-row {
    padding-top: 17px;
  }
  .details-container {
    padding-bottom: 0;
  }
  .btn-container {
    padding: 30px 0;
  }
}
