<div>
  <div class="p-pt-3 p-pb-3 text-center btn-container">
    <button *ngFor="let category of categories" pButton class="styled-btn"
            type="button"
            label="{{category}}"
    (click)="filterByCategory()">
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button pButton type="button" icon="pi pi-chevron-up"
            class="p-button-rounded p-button-secondary p-button-text"></button>

    <div *ngIf="isTypeFilterVisible" fxLayout="row" fxLayoutAlign="space-around center">
      <div class="types-div" *ngFor="let type of types">{{type}}</div>
    </div>

    <button pButton type="button" icon="pi pi-sliders-v"
            class="p-button-secondary sliders-btn" (click)="showTypeFilters()"></button>
  </div>

  <div *ngFor="let event of filteredEvents" fxLayout="column" fxLayoutAlign="space-around center">
    <br>
    <app-event-detailed-card [event]="event"></app-event-detailed-card>
  </div>

  <p-paginator *ngIf="events?.length"
               [first]="0"
               [rows]="4" [totalRecords]="events.length" (onPageChange)="changePage($event)"></p-paginator>
</div>
