@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/FiraSans-light.woff');
  src: local(''),
  url('../../fonts/FiraSans-light.woff') format('woff')
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/FiraSans-regular.woff');
  src: local(''),
  url('../../fonts/FiraSans-regular.woff') format('woff')
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/FiraSans-medium.woff');
  src: local(''),
  url('../../fonts/FiraSans-medium.woff') format('woff')
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/FiraSans-semibold.woff');
  src: local(''),
  url('../../fonts/FiraSans-semibold.woff') format('woff')
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/FiraSans-bold.woff');
  src: local(''),
  url('../../fonts/FiraSans-bold.woff') format('woff')
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/FiraSans-extrabold.woff');
  src: local(''),
  url('../../fonts/FiraSans-extrabold.woff') format('woff')
}
