:host ::ng-deep .event-card {
  width: 22rem;
  height: 18rem;
  background: #F7F7F7;
  border-radius: unset;

}

:host ::ng-deep .p-card-header {
  background: #98D1E2;
  height: 3rem;
}

.title-text{
  top: 940px;
  left: 788px;
  width: 80px;
  height: 31px;
  text-transform: uppercase;
  text-align: left;
}

.event-category{
  text-decoration: underline;
}

.card-header-row {
  display: flex;
  justify-content: space-between;
  color: white;
}

:host ::ng-deep .p-card .p-card-content {
  padding: unset;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 4px;
  background-color: #33333372;
}

:host ::ng-deep .p-carousel-container {
  text-align: center;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: black;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:focus {
  box-shadow: none;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next:focus {
  box-shadow: none;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  margin-top: 4rem;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  margin-top: 4rem;
}

.info-row {
  display: flex;
  justify-content: space-between;
  color: black;
  border-bottom: 2px solid black;
}

.info-row-date {
  display: flex;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 1.25rem 0 0 0;
}

.event-button {
  color: white;
  background: #98D1E2;
  border: unset;
}

.event-button:hover {
  background: #D0EAF2;
}

.event-button:focus {
  box-shadow: none;
}
