<p-card styleClass="event-detailed-card"
        header="{{event?.type}}">
  <ng-template pTemplate="header">
    <div class="small-rectangle"
         [class.green]="event.category === EventCategory.arbeitsrecht"
         [class.yellow]="event.category === EventCategory.hr"
         [class.red]="event.category === EventCategory.highlights"
         [class.blue]="event.category === EventCategory.partnerevents">
      <p class="tag-text white">{{event?.category}}</p>
    </div>
  </ng-template>
  <div>
    <p>{{event?.name}}</p>
    <div class="info-row">
      <div class="info-row-date">
        <div class="flex center">
          <i class="pi pi-map-marker p-pr-1" *ngIf="showDetails"></i>
          <p class="f-700">{{event?.location}}</p>
        </div>
        <p class="f-700">{{getEventTime()}}</p>
      </div>
    </div>
    <p class="p-pt-4" [class.description]="!showDetails" [innerHTML]="event.description"></p>
    <div *ngIf="showDetails" class="p-pt-3 p-pb-3 details-container" fxLayout="column" fxLayoutAlign="center center">
      <button pButton type="button" label="ZUM EVENT" class="rounded-button turqoise"></button>
    </div>
    <div class="p-pt-3 p-pb-3 text-center btn-container">
      <a target="_parent" href="https://dev.codelords.de/agv-bs/event-detail/?event_id={{event.id}}"
         class="target-button rounded-button turqoise turqoise-hover">Zum Event</a>
    </div>
  </div>
</p-card>
