:host ::ng-deep .event-card {
  width: 24.188rem;
  height: 23.188rem;
  background: #F7F7F7;
  border-radius: unset;
  box-shadow: 10px 10px 10px #00000029;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

:host ::ng-deep .p-card-header {
  background: #98D1E2;
  height: 5rem;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

:host ::ng-deep .p-card .p-card-content {
  padding-bottom: 1.875rem;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 1.25rem 1.25rem 0 1.25rem !important;
}

:host ::ng-deep .p-carousel .p-carousel-indicators {
  padding: 3rem;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 4px;
  background-color: #33333372;
}

:host ::ng-deep .p-carousel-container {
  text-align: center;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: black;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:focus {
  box-shadow: none;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next:focus {
  box-shadow: none;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  margin-top: 4rem;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  margin-top: 4rem;
}

::ng-deep .p-button {
  border: none;

}

::ng-deep .p-button:focus {
  border: none;
  box-shadow: none;
}

.info-row {
  display: flex;
  justify-content: space-between;
  color: black;
  border-bottom: 2px solid black;
}

.info-row-date {
  display: flex;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 1.25rem 0 0 0;
}


.turqoise-hover:hover {
  background: #D0EAF2 0% 0% no-repeat padding-box;
}
