/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

.body {
  font: normal normal 300 17px/24px Fira Sans;
}

.normal-bold {
  font: normal normal bold 15px/21px Fira Sans;
  text-transform: uppercase;
}

.h1 {
  font: normal normal 600 56px/67px Fira Sans;
}

.h2 {
  font: normal normal 600 43px/51px Fira Sans;
}

.h3 {
  font: normal normal 600 34px/41px Fira Sans;
}

.h4 {
  font: normal normal 600 26px/31px Fira Sans;
}

.text-left {
  text-align: left;
  letter-spacing: 0;
}

.text-link {
  font: normal normal 300 15px/21px Fira Sans;
  color: white;
  cursor: pointer;
}

.big-rectangle {
  width: 11.938rem;
  height: 4.438rem;
}

.small-rectangle {
  width: 8.625rem;
  height: 2.813rem;
  text-align: center;
  color: white;
}

.height-rectangle {
  height: 15rem;
  width: 8rem;
  text-align: center;
  color: #333333;
  box-shadow: 0px 3px 3px #33333329;
}

.height-rectangle-title {
  width: 8rem;
  height: 4.375rem;
  text-align: center;
  color: #333333;
}

.blue {
  background: #4E8AB4 0% 0% no-repeat padding-box;
  opacity: 1;
}

.blue:hover {
  background: #B0CADD 0% 0% no-repeat padding-box;
  opacity: 1;
}

.green {
  background: #7BB7AE 0% 0% no-repeat padding-box;
  opacity: 1;
}


.turqoise {
  background: #98D1E2 0% 0% no-repeat padding-box;
}

.turqoise-light {
  background: #D0EAF2 0% 0% no-repeat padding-box;
}

.rounded-button {
  color: #FFFFFF;
  height: 2.5rem;
  border: unset;
  box-shadow: 0px 10px 10px #00000029;
  border-radius: 25px;
  opacity: 1;
  font: normal normal 500 17px/24px Fira Sans;
}

.p-l-5 {
  padding-left: 0.313rem;
}

.p-l-10 {
  padding-left: 0.625rem;
}

.p-r-10 {
  padding-right: 0.625rem;
}

.p-r-5 {
  padding-right: 0.313rem;
}

.p-b-20 {
  padding-bottom: 1.25rem;
}

.p-l-20 {
  padding-left: 1.25rem;
}

.p-r-20 {
  padding-right: 1.25rem;
}

.p-t-10 {
  padding-top: 0.625rem;
}

.p-l-21 {
  padding-left: 1.313rem;
}

.p-r-21 {
  padding-right: 1.313rem;
}

.p-t-31 {
  padding-top: 1.938rem;
}

.p-b-18 {
  padding-bottom: 18px;
}

.p-t-16 {
  padding-top: 1.1rem;
}

.m-b-51 {
  margin-bottom: 3.188rem;
}

.p-t-100 {
  padding-top: 6.25rem;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.text-center {
  text-align: center;
}

.m-b-30 {
  margin-bottom: 1.875rem;
}

.right {
  float: right;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}
